body {
  background-color: #e6e6e6e6;
  font-family: "Varela Round", sans-serif;
}

#index {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}

#header {
  margin-bottom: 30px;
}

#logo {
  width: 7rem;
}

#signin {
  width: 8rem;
  height: 5.2rem;
}

#main {
  max-width: 1000px;
  padding: 6rem;
}

#card{
  padding: 10px;
  border-radius: 30px;
}
